VITE_FIREBASE_API_KEY=AIzaSyAnY-yqhZ-GNe7WHSmHuzCPbov7ybBqVJA
VITE_FIREBASE_AUTH_DOMAIN=seller-fd36e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=seller-fd36e
VITE_FIREBASE_STORAGE_BUCKET=seller-fd36e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=308037462812
VITE_FIREBASE_APP_ID=1:308037462812:web:b7fb3734d57659a9d6a8d9

# Flipkart API Credentials (Pre-configured for single account)
VITE_FLIPKART_APP_ID=13188bb7677138a198705459a29b6126a1a14
VITE_FLIPKART_APP_SECRET=38d6681c9f47182a2948fa2dc8938c583
